header {
    //Section
    section {
        justify-content: space-between;
        align-items: center;
    } 
    //End Section

    //Nav Ul
    nav {

        //ul
        ul {
            display: flex;
            flex-direction: row;
            list-style: none;
        //li
    li {
        // a
        a {
            margin: 0px 15px;
            color: $color-primaria;
                }
                // End a
            }
            //End li
        }
        //End ul
    }
    //End Nav
}